{% extends "base.html" %}
{% load static %}   
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="banner">
    <h1 class="display-4 banner-title banner">{{ self.banner_title }}</h1>
</div>
    <div class="wrap">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col banner-image";>
                        {% image page.banner_image width-600 as banner_image %}
                        <img src="{{ banner_image.url }}" alt="{{ image }}" class="img-fluid mx-auto d-block">
                        <!-- <img src="{{ self.banner_image.url }}" alt="My image" /> -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        {{ self.left_col | richtext }}
                    </div>
                    <div class="col-sm-6">
                        {{ self.right_col | richtext }}
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
{% endblock %}